In [35]:
import numpy as np
import pandas as pd
import pdfplumber as pdfp
import locale
from locale import atof

In [ ]:
data = pdfp.open("241025 Unicredit Macro & Markets Weekly Focus - python.pdf")

table_settings={
    "vertical_strategy":"text",
    "horizontal_strategy":"text",
    "text_keep_blank_chars":True,
    "text_y_tolerance":5,
    "snap_y_tolerance":5

}

im = data.pages[1].to_image(resolution=150)
im.debug_tablefinder(table_settings)

In [ ]:
pagina = data.pages[1]
table=pagina.extract_table(table_settings)
table[0]=["Name","Current","1M","3M","6M","12M","YTD","QTD"]

In [ ]:
df = pd.DataFrame(table[1:],columns=table[0])

In [ ]:
pg_2 = data.pages[2]
im = pg_2.to_image(resolution=150)
table_settings2={
    "vertical_strategy":"text",
    "horizontal_strategy":"lines",
    "text_keep_blank_chars":True,

}

In [ ]:
table_2=pg_2.extract_table(table_settings2)
table_2[0]=["Date 26 oct - 01 Nov 2024","Time (CET)","Country","Indicator/Event","Period","UniCredit estimates","Consensus (Bloomberg)","Previous"]
df2 = pd.DataFrame(table_2[2:], columns=table_2[0])

In [79]:
df2.to_csv("pagina3.csv",index=False)

Treballar la pagina 2

In [47]:
#teball pagina 2
new_data = df.drop([0,8,9,16,17,26,27,28,32,33])
columns = ["Current","1M","3M","6M","12M","YTD","QTD"]
for x in columns:
    new_data[x]=pd.to_numeric(new_data[x],errors="ignore")

locale.setlocale(locale.LC_NUMERIC, '')
new_data["Current"]=new_data["Current"].map(atof)
new_data.to_csv("pagina2.csv")

All data types of pg2 properly fixed and stabilized

In [76]:
dates12 = new_data[["Name","12M"]]
top =dates12.sort_values(by="12M",ascending=False)
top3 = top[:3].reset_index()
top3.drop("index", axis=1, inplace=True)
top3.to_csv("top3.csv")
bot = dates12.sort_values(by="12M")
bot3 = bot[:3].reset_index()
bot3.drop("index", axis=1, inplace=True)
bot3.to_csv("bot3.csv")

In [61]:
# average results
average = ["average","NaN"]
cols =["1M","3M","6M","12M","YTD","QTD"]
for x in cols:
    average.append(new_data[x].mean()) 
aux = pd.DataFrame([average], columns=["Name","Current","1M","3M","6M","12M","YTD","QTD"]) 
test = pd.concat([new_data,aux])
test.to_csv("pagina2.csv")

arreglar la pagina 3

In [ ]:
columns = ["UniCredit estimates","Consensus (Bloomberg)","Previous"]
for x in columns:
    df2[x]=pd.to_numeric(df2[x],errors="ignore")
tst2 = df2.replace(r'^\s*$', np.nan, regex=True)
fin = tst2.replace(r' ','', regex=True)
fin.to_csv("pagina3.csv",index=False,na_rep="Nan")

In [ ]:
pagina16 = data.pages[15]
crop_A = pagina16.within_bbox((0,50, pagina16.width,310))
cA=crop_A.to_image(resolution=150)
# table16=pagina16.extract_table(table_settings)

# test = pd.DataFrame(table16[2:], columns=table16[1])
# test

crop_B = pagina16.within_bbox((0,310, pagina16.width,460))
cB =crop_B.to_image(resolution=150)

crop_C = pagina16.within_bbox((0,470, pagina16.width,650))
CC=crop_C.to_image(resolution=150)

In [ ]:
table_settings={
    "vertical_strategy":"text",
    "horizontal_strategy":"text",
    # "text_keep_blank_chars":True,
    "snap_y_tolerance":6,
    "intersection_x_tolerance":10,
    "explicit_vertical_lines":[35]
    }
cA.reset().debug_tablefinder(table_settings)
table16a=crop_A.extract_table(table_settings)
nova =[]
for x in table16a:
    aux = [''.join(x[0:2])]
    x =aux+x[2:]
    nova.append(x)
Anet = pd.DataFrame(nova[1:], columns=nova[0])
Anet.to_csv("pg16A.csv",index=False)

In [ ]:
table_settings={
    "vertical_strategy":"text",
    "horizontal_strategy":"text",
    "text_keep_blank_chars":True,
    "snap_x_tolerance":6,
    "intersection_x_tolerance":5,
    "explicit_vertical_lines":[35]
    }
cB.reset().debug_tablefinder(table_settings)
table16b=crop_B.extract_table(table_settings)
nova =[]
for x in table16b:
    aux = [''.join(x[0:2])]
    x =aux+x[2:]
    nova.append(x)
Bnet = pd.DataFrame(nova[1:], columns=nova[0])
Bnet = Bnet.replace(r' ','', regex=True)
cols =["3Q23 ","4Q23 ","1Q24 ","2Q24 ","3Q24 ","4Q24 ","1Q25 ","2Q25 ","3Q25 ","4Q25 "]
for x in cols:
    Bnet[x]=pd.to_numeric(Bnet[x],errors="ignore") 
Bnet.to_csv("pg16B.csv",index=False)

Real GDP (% qoq sa)      object
3Q23                    float64
4Q23                    float64
1Q24                    float64
2Q24                    float64
3Q24                    float64
4Q24                    float64
1Q25                    float64
2Q25                    float64
3Q25                    float64
4Q25                    float64
dtype: object

In [355]:
table_settings={
    "vertical_strategy":"text",
    "horizontal_strategy":"text",
    "text_keep_blank_chars":True,
    "snap_y_tolerance":5,
    "intersection_x_tolerance":5,
    "explicit_vertical_lines":[35]
    }
CC.reset().debug_tablefinder(table_settings)
table16c=crop_B.extract_table(table_settings)
nova =[]
for x in table16c:
    aux = [''.join(x[0:2])]
    x =aux+x[2:]
    nova.append(x)
Cnet = pd.DataFrame(nova[1:], columns=nova[0])
Cnet = Cnet.replace(r' ','', regex=True)
cols =["3Q23 ","4Q23 ","1Q24 ","2Q24 ","3Q24 ","4Q24 ","1Q25 ","2Q25 ","3Q25 ","4Q25 "]
for x in cols:
    Cnet[x]=pd.to_numeric(Cnet[x],errors="ignore") 
# Cnet.to_csv("pg16C.csv",index=False)
Cnet

,Real GDP (% qoq sa),3Q23,4Q23,1Q24,2Q24,3Q24,4Q24,1Q25,2Q25,3Q25,4Q25
0,US(non-annualized),1.1,0.8,0.4,0.7,0.7,0.2,0.2,0.3,0.4,0.4
1,EuroArea,0.0,0.1,0.3,0.2,0.2,0.2,0.3,0.3,0.4,0.4
2,Germany,0.2,-0.4,0.2,-0.1,0.0,0.2,0.3,0.3,0.4,0.4
3,France,0.1,0.4,0.3,0.2,0.4,0.1,0.3,0.3,0.4,0.4
4,Italy,0.2,0.0,0.3,0.2,0.1,0.2,0.3,0.3,0.3,0.3
5,Spain,0.7,0.7,0.9,0.8,0.8,0.4,0.4,0.4,0.5,0.5
6,Austria,-0.8,-0.5,0.2,0.0,0.0,0.2,0.3,0.3,0.4,0.4
7,UK,-0.1,-0.3,0.7,0.5,0.3,0.1,0.1,0.3,0.3,0.3
8,Switzerland,0.2,0.3,0.5,0.7,0.2,0.2,0.3,0.3,0.4,0.4
9,Sweden,0.3,-0.2,0.8,-0.3,0.3,0.3,0.4,0.5,0.5,0.6
10,Norway(mainland),0.0,0.3,0.1,0.1,0.2,0.2,0.2,0.3,0.3,0.3
11,Poland(%yoy),0.8,1.4,1.4,4.4,3.5,3.9,4.1,3.6,3.5,2.9
12,Czechia,-0.4,0.3,0.4,0.3,0.5,0.5,0.7,0.8,0.7,0.8
13,Hungary(%yoy),-0.4,0.0,1.1,1.5,0.7,1.4,1.5,1.9,2.8,3.4
14,Turkey(%yoy),6.5,4.6,5.3,2.5,2.3,2.1,0.0,1.8,3.6,5.1